.footer-section {
    background-color: #003e29;
   
    height: 400px;
  }
 
  .footer-icon {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer-icon:hover {
    color: #00c76f;
  }
  .border1{
    margin-top: 50px;
  }
  @media (max-width: 768px) {

    .footer-section{
      margin-top:590px;
    }
  }